aside {
  background-color: get-color("text");
  color: get-color("bg");
  // High contrast selection
  ::selection {
    color: get-color("text");
    background: get-color("bg");
  }
    // flex contact icons
  .reset-list--row {
      display: flex;
      gap: var(--space);
  }
  // when sidebar grid layout, stick content to right
  // move from row to column
  @include media-query("lg") {
      // flex contact icons
      .reset-list--row { justify-content: flex-end;  }
      text-align: right;
      &.stack {
	  flex-direction: column;
	  flex-wrap: nowrap;
	  gap: 0;
	  > * {
              padding-top: get-size("800");
              margin-right: 0;
              &:first-of-type {
		  margin-bottom: 0;
              }
	  }
      }
  }
}
