<address class="h-adr p-adr">
  <span class="p-name">
    <a href="https://www.ippp.dur.ac.uk/profile/jaraz/"> IPPP - Durham University</a>
    <br/> Office: OC209a 
  </span>
  <div>
    <span class="p-street-address">South Road,</span>
    <span class="p-locality">Durham</span>
    <div> <span class="p-postal-code">DH1 3LE</span>, <abbr class="p-country-name" title="United Kingdom">UK</abbr> </div>
  </div>
</address>
