<address class="h-adr p-adr">
  <span class="p-name">
    Jefferson Lab
    <br/> Theory Center, Office: A209
  </span>
  <div>
    <span class="p-street-address">12000 Jefferson Avenue</span>
    <span class="p-locality">Newport News, VA</span>
    <div> <span class="p-postal-code">23606</span>, <abbr class="p-country-name" title="United States of America">USA</abbr> </div>
  </div>
</address>
